@import "tailwindcss";

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);

  --color-yellow: var(--yellow);
  --color-yellow-secondary: var(--yellow-secondary);
  --color-orange: var(--orange);
  --color-orange-secondary: var(--orange-secondary);
  --color-green: var(--green);
  --color-green-secondary: var(--green-secondary);
  --color-blue: var(--blue);
  --color-blue-secondary: var(--blue-secondary);
  --color-purple: var(--purple);
  --color-purple-secondary: var(--purple-secondary);
  --color-red: var(--red);
  --color-red-secondary: var(--red-secondary);
}

:root {
  --radius: 0.50rem;

  /*
  Tbh I don't even know why I added all of these when I literall only use the green color once
  */
  --yellow: oklch(86.53% 0.17 99.41);
  --yellow-secondary: oklch(93.98% 0.08 99.43);
  --orange: oklch(77.98% 0.17 68.12);
  --orange-secondary: oklch(88.08% 0.08 68.14);
  --green: oklch(78.53% 0.23 145.42);
  --green-secondary: oklch(96.34% 0.08 145.43);
  --blue: oklch(75.49% 0.16 230.13);
  --blue-secondary: oklch(89.52% 0.07 230.13);
  --purple: oklch(68.96% 0.28 320.34);
  --purple-secondary: oklch(92.83% 0.08 320.34);
  --red: oklch(71.49% 0.22 25.4);
  --red-secondary: oklch(86.29% 0.08 25.4);

  --base-100: rgba(247, 249, 252, 1);
  --base-200: rgba(237, 240, 247, 1);
  --base-300: rgba(226, 231, 240, 1);
  --base-400: rgba(203, 210, 224, 1);
  --base-500: rgba(160, 171, 192, 1);
  --base-600: rgba(113, 125, 150, 1);
  --base-700: rgba(74, 84, 104, 1);
  --base-800: rgba(45, 54, 72, 1);
  --base-900: rgba(26, 32, 44, 1);

  /*
  I literally didn't use these at all... I really need to remove these but I'm too lazy..
  No I'm not too lazy to write this message LOL
  */
  --background: oklch(97.94% 0.01 251.49);
  --foreground: oklch(34.21% 0.02 255.45);
  --primary: oklch(75.49% 0.16 230.13);
  --primary-foreground: oklch(97.94% 0.01 251.49);
  --secondary: oklch(95.6% 0.01 251.9);
  --secondary-foreground: oklch(43.76% 0.02 254.85);
  --muted: oklch(93.11% 0.01 252.12);
  --muted-foreground: oklch(65.17% 0.02 253.72);
  --accent: oklch(68.96% 0.28 320.34);
  --accent-foreground: oklch(97.94% 0.01 251.49);
  --destructive: oklch(71.49% 0.22 25.4);
  --destructive-foreground: oklch(97.94% 0.01 251.49);
  --border: oklch(86.53% 0.02 252.66);
  --input: oklch(86.53% 0.02 252.66);
  --ring: oklch(75.49% 0.16 230.13);
}

.dark {
  /* Why tf did I even add the dark mode when I won't be using it... well that can come at a later date I guess :D */
  --background: oklch(34.21% 0.02 255.45);
  --foreground: oklch(97.94% 0.01 251.49);
  --primary: oklch(75.49% 0.16 230.13);
  --primary-foreground: oklch(34.21% 0.02 255.45);
  --secondary: oklch(43.76% 0.02 254.85);
  --secondary-foreground: oklch(95.6% 0.01 251.9);
  --muted: oklch(54.49% 0.02 254.21);
  --muted-foreground: oklch(86.53% 0.02 252.66);
  --accent: oklch(68.96% 0.28 320.34);
  --accent-foreground: oklch(34.21% 0.02 255.45);
  --destructive: oklch(71.49% 0.22 25.4);
  --destructive-foreground: oklch(34.21% 0.02 255.45);
  --border: oklch(65.17% 0.02 253.72);
  --input: oklch(65.17% 0.02 253.72);
  --ring: oklch(75.49% 0.16 230.13);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}